<!DOCTYPE html>
<html>
  <head>
    <title>HazKit</title>
    <%= csrf_meta_tags %>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500|Permanent+Marker" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="top_nav">
          <h1>HazKit</h1>
    </nav>
    <%= yield %>
  </body>
</html>
